<a href="https://colab.research.google.com/github/JoseFERNAN/ML4AI/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
profile = pd.DataFrame({
    'name': ['SeungYoon', 'JungOh', 'Migo'],
    'nationality': ['kor', 'kor', 'fra'],
    'hobby': ['music', 'movie', 'videogame'],
    'height': [183,175,173]
})

In [5]:
profile

        name nationality      hobby  height
0  SeungYoon         kor      music     183
1     JungOh         kor      movie     175
2       Migo         fra  videogame     173

In [6]:
profile.set_index('name')

          nationality      hobby  height
name
SeungYoon         kor      music     183
JungOh            kor      movie     175
Migo              fra  videogame     173

In [7]:
profile.to_csv('mydata.csv', index=False)

In [8]:
ls

mydata.csv  sample_data/

In [9]:
reading_csv = pd.read_csv('mydata.csv')

In [10]:
print(reading_csv)

        name nationality      hobby  height
0  SeungYoon         kor      music     183
1     JungOh         kor      movie     175
2       Migo         fra  videogame     173

In [11]:
reading_csv

        name nationality      hobby  height
0  SeungYoon         kor      music     183
1     JungOh         kor      movie     175
2       Migo         fra  videogame     173